<a href="https://colab.research.google.com/github/atharv1422/EDS.ass/blob/main/ASSIGNMENT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import csv
file=open('/content/Sales Assignment 2.csv','r')
data1=list(csv.reader(file,delimiter=','))
file.close()
print(data1)

[['cID ', 'cName', 'cGender', 'cAmount ', 'pID', 'pName', 'pDetails', 'pQuantity', 'sID', 'sName'], ['4001', 'Chetan', 'Male', '55000', '100001', 'Lenovo', 'laptop', '1', '8001', 'Raj sales'], ['4002', 'Atharva', 'Male', '10000', '100002', 'Apple', 'pencil', '2', '8002', 'vijay sales'], ['4003', 'Rishabh', 'Male', '60000', '100003', 'mi', 'tab', '2', '8003', 'croma'], ['4004', 'Yash', 'Male', '85000', '100004', 'LG', 'TV', '1', '8004', 'amazon'], ['4005', 'Vedant', 'Male', '65000', '100005', 'Asus', 'laptop', '1', '8005', 'flipkart'], ['4006', 'Kunal', 'Male', '220000', '100006', 'voltas', 'AC', '3', '8006', 'new salaes'], ['4007', 'Vinay', 'Male', '22500', '100007', 'Logitech', 'mouse', '10', '8007', 'chetan sales'], ['4008', 'Vinayaa', 'Female', '100000', '100008', 'macbook', 'laptop', '1', '8008', 'croma'], ['4009', 'Nirmal', 'Male', '75000', '100009', 'Orient', 'AC', '2', '8009', 'croma '], ['4010', 'Harsh', 'Male', '111100', '100010', 'oneplus', 'Phone', '3', '8010', 'jio mart']]

In [ ]:
import csv

f1 = open("/content/Sales Assignment 2.csv","r")
data = list(csv.reader(f1))

CName = []; CGender = [] ; CCity = []
Product = {}
SName = () ; SCity = ()
l1 = []; l2 = []

for i in range(1,len(data)):
    pd = []
    print(data[i])
    CName.append(data[i][0])
    CGender.append(data[i][1])
    CCity.append(data[i][2])
    pd.append(data[i][4])
    pd.append(data[i][5])
    pd.append(data[i][8])
    pd.append(data[i][9])
    print(pd)
    Product [data[i][3]] =  pd
    l1.append(data[i][6])
    l2.append(data[i][7])


SName = tuple(l1)
SCity = tuple(l2)

print(CName)
print(CGender)
print(CCity)

for k in Product.keys():
  print(k , Product[k])

print(SName)
print(SCity)

['4001', 'Chetan', 'Male', '55000', '100001', 'Lenovo', 'laptop', '1', '8001', 'Raj sales']
['100001', 'Lenovo', '8001', 'Raj sales']
['4002', 'Atharva', 'Male', '10000', '100002', 'Apple', 'pencil', '2', '8002', 'vijay sales']
['100002', 'Apple', '8002', 'vijay sales']
['4003', 'Rishabh', 'Male', '60000', '100003', 'mi', 'tab', '2', '8003', 'croma']
['100003', 'mi', '8003', 'croma']
['4004', 'Yash', 'Male', '85000', '100004', 'LG', 'TV', '1', '8004', 'amazon']
['100004', 'LG', '8004', 'amazon']
['4005', 'Vedant', 'Male', '65000', '100005', 'Asus', 'laptop', '1', '8005', 'flipkart']
['100005', 'Asus', '8005', 'flipkart']
['4006', 'Kunal', 'Male', '220000', '100006', 'voltas', 'AC', '3', '8006', 'new salaes']
['100006', 'voltas', '8006', 'new salaes']
['4007', 'Vinay', 'Male', '22500', '100007', 'Logitech', 'mouse', '10', '8007', 'chetan sales']
['100007', 'Logitech', '8007', 'chetan sales']
['4008', 'Vinayaa', 'Female', '100000', '100008', 'macbook', 'laptop', '1', '8008', 'croma']
['100008', 'macbook', '8008', 'croma']
['4009', 'Nirmal', 'Male', '75000', '100009', 'Orient', 'AC', '2', '8009', 'croma ']
['100009', 'Orient', '8009', 'croma ']
['4010', 'Harsh', 'Male', '111100', '100010', 'oneplus', 'Phone', '3', '8010', 'jio mart']
['100010', 'oneplus', '8010', 'jio mart']
['4001', '4002', '4003', '4004', '4005', '4006', '4007', '4008', '4009', '4010']
['Chetan', 'Atharva', 'Rishabh', 'Yash', 'Vedant', 'Kunal', 'Vinay', 'Vinayaa', 'Nirmal', 'Harsh']
['Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male']
55000 ['100001', 'Lenovo', '8001', 'Raj sales']
10000 ['100002', 'Apple', '8002', 'vijay sales']
60000 ['100003', 'mi', '8003', 'croma']
85000 ['100004', 'LG', '8004', 'amazon']
65000 ['100005', 'Asus', '8005', 'flipkart']
220000 ['100006', 'voltas', '8006', 'new salaes']
22500 ['100007', 'Logitech', '8007', 'chetan sales']
100000 ['100008', 'macbook', '8008', 'croma']
75000 ['100009', 'Orient', '8009', 'croma ']
111100 ['100010', 'oneplus', '8010', 'jio mart']
('laptop', 'pencil', 'tab', 'TV', 'laptop', 'AC', 'mouse', 'laptop', 'AC', 'Phone')
('1', '2', '2', '1', '1', '3', '10', '1', '2', '3')

In [ ]:
Male=0
Female=0
for i in range(1,len(data)):
  if data[i][2]=='Male':
    Male=Male+1
  else:
    Female=Female+1
print('No. of Males=',Male)
print('No. of Females=',Female)

No. of Males= 9
No. of Females= 1

In [ ]:
max=''
key_i=0
i=0
for i in range(1,len(data)):
  if(max<(data[i][9])):
    max=(data[i][9])
    key_i=i
  max=max+1
print('Best Supplier=',max)

TypeError: ignored

In [ ]:
maximum=[]
b=len(data)
for i in range(1,b,1):
    maximum=list(data[i][7])
print(max(maximum))

TypeError: ignored