<a href="https://colab.research.google.com/github/atharv1422/EDS.ass/blob/main/ASSIGNMENT_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
d1=np.genfromtxt("/content/employees(D4).csv",delimiter=',',dtype=str)
print(d1)
print(type(d1))
print(d1.dtype)

[['EMPLOYEE_ID' 'FIRST_NAME' 'LAST_NAME' 'EMAIL' 'PHONE_NUMBER'
  'HIRE_DATE' 'JOB_ID' 'SALARY' 'COMMISSION_PCT' 'MANAGER_ID'
  'DEPARTMENT_ID']
 ['198' 'Donald' 'OConnell' 'DOCONNEL' '650.507.9833' '21-Jun-07'
  'SH_CLERK' '2600' ' - ' '124' '50']
 ['199' 'Douglas' 'Grant' 'DGRANT' '650.507.9844' '13-Jan-08' 'SH_CLERK'
  '2600' ' - ' '124' '50']
 ['200' 'Jennifer' 'Whalen' 'JWHALEN' '515.123.4444' '17-Sep-03'
  'AD_ASST' '4400' ' - ' '101' '10']
 ['201' 'Michael' 'Hartstein' 'MHARTSTE' '515.123.5555' '17-Feb-04'
  'MK_MAN' '13000' ' - ' '100' '20']
 ['202' 'Pat' 'Fay' 'PFAY' '603.123.6666' '17-Aug-05' 'MK_REP' '6000'
  ' - ' '201' '20']
 ['203' 'Susan' 'Mavris' 'SMAVRIS' '515.123.7777' '7-Jun-02' 'HR_REP'
  '6500' ' - ' '101' '40']
 ['204' 'Hermann' 'Baer' 'HBAER' '515.123.8888' '7-Jun-02' 'PR_REP'
  '10000' ' - ' '101' '70']
 ['205' 'Shelley' 'Higgins' 'SHIGGINS' '515.123.8080' '7-Jun-02' 'AC_MGR'
  '12008' ' - ' '101' '110']
 ['206' 'William' 'Gietz' 'WGIETZ' '515.123.8181' '7-Jun-02' 'AC_ACCOUNT'
  '8300' ' - ' '205' '110']
 ['100' 'Steven' 'King' 'SKING' '515.123.4567' '17-Jun-03' 'AD_PRES'
  '24000' ' - ' ' - ' '90']
 ['101' 'Neena' 'Kochhar' 'NKOCHHAR' '515.123.4568' '21-Sep-05' 'AD_VP'
  '17000' ' - ' '100' '90']
 ['102' 'Lex' 'De Haan' 'LDEHAAN' '515.123.4569' '13-Jan-01' 'AD_VP'
  '17000' ' - ' '100' '90']
 ['103' 'Alexander' 'Hunold' 'AHUNOLD' '590.423.4567' '3-Jan-06'
  'IT_PROG' '9000' ' - ' '102' '60']
 ['104' 'Bruce' 'Ernst' 'BERNST' '590.423.4568' '21-May-07' 'IT_PROG'
  '6000' ' - ' '103' '60']
 ['105' 'David' 'Austin' 'DAUSTIN' '590.423.4569' '25-Jun-05' 'IT_PROG'
  '4800' ' - ' '103' '60']
 ['106' 'Valli' 'Pataballa' 'VPATABAL' '590.423.4560' '5-Feb-06'
  'IT_PROG' '4800' ' - ' '103' '60']
 ['107' 'Diana' 'Lorentz' 'DLORENTZ' '590.423.5567' '7-Feb-07' 'IT_PROG'
  '4200' ' - ' '103' '60']
 ['108' 'Nancy' 'Greenberg' 'NGREENBE' '515.124.4569' '17-Aug-02'
  'FI_MGR' '12008' ' - ' '101' '100']
 ['109' 'Daniel' 'Faviet' 'DFAVIET' '515.124.4169' '16-Aug-02'
  'FI_ACCOUNT' '9000' ' - ' '108' '100']
 ['110' 'John' 'Chen' 'JCHEN' '515.124.4269' '28-Sep-05' 'FI_ACCOUNT'
  '8200' ' - ' '108' '100']
 ['111' 'Ismael' 'Sciarra' 'ISCIARRA' '515.124.4369' '30-Sep-05'
  'FI_ACCOUNT' '7700' ' - ' '108' '100']
 ['112' 'Jose Manuel' 'Urman' 'JMURMAN' '515.124.4469' '7-Mar-06'
  'FI_ACCOUNT' '7800' ' - ' '108' '100']
 ['113' 'Luis' 'Popp' 'LPOPP' '515.124.4567' '7-Dec-07' 'FI_ACCOUNT'
  '6900' ' - ' '108' '100']
 ['114' 'Den' 'Raphaely' 'DRAPHEAL' '515.127.4561' '7-Dec-02' 'PU_MAN'
  '11000' ' - ' '100' '30']
 ['115' 'Alexander' 'Khoo' 'AKHOO' '515.127.4562' '18-May-03' 'PU_CLERK'
  '3100' ' - ' '114' '30']
 ['116' 'Shelli' 'Baida' 'SBAIDA' '515.127.4563' '24-Dec-05' 'PU_CLERK'
  '2900' ' - ' '114' '30']
 ['117' 'Sigal' 'Tobias' 'STOBIAS' '515.127.4564' '24-Jul-05' 'PU_CLERK'
  '2800' ' - ' '114' '30']
 ['118' 'Guy' 'Himuro' 'GHIMURO' '515.127.4565' '15-Nov-06' 'PU_CLERK'
  '2600' ' - ' '114' '30']
 ['119' 'Karen' 'Colmenares' 'KCOLMENA' '515.127.4566' '10-Aug-07'
  'PU_CLERK' '2500' ' - ' '114' '30']
 ['120' 'Matthew' 'Weiss' 'MWEISS' '650.123.1234' '18-Jul-04' 'ST_MAN'
  '8000' ' - ' '100' '50']
 ['121' 'Adam' 'Fripp' 'AFRIPP' '650.123.2234' '10-Apr-05' 'ST_MAN'
  '8200' ' - ' '100' '50']
 ['122' 'Payam' 'Kaufling' 'PKAUFLIN' '650.123.3234' '1-May-03' 'ST_MAN'
  '7900' ' - ' '100' '50']
 ['123' 'Shanta' 'Vollman' 'SVOLLMAN' '650.123.4234' '10-Oct-05' 'ST_MAN'
  '6500' ' - ' '100' '50']
 ['124' 'Kevin' 'Mourgos' 'KMOURGOS' '650.123.5234' '16-Nov-07' 'ST_MAN'
  '5800' ' - ' '100' '50']
 ['125' 'Julia' 'Nayer' 'JNAYER' '650.124.1214' '16-Jul-05' 'ST_CLERK'
  '3200' ' - ' '120' '50']
 ['126' 'Irene' 'Mikkilineni' 'IMIKKILI' '650.124.1224' '28-Sep-06'
  'ST_CLERK' '2700' ' - ' '120' '50']
 ['127' 'James' 'Landry' 'JLANDRY' '650.124.1334' '14-Jan-07' 'ST_CLERK'
  '2400' ' - ' '120' '50']
 ['128' 'Steven' 'Markle' 'SMARKLE' '650.124.1434' '8-Mar-08' 'ST_CLERK'
  '2200' ' - ' '120' '50']
 ['129' 'Laura' 'Bissot' 'LBISSOT' '650.124.5234' '20-Aug-05' 'ST_CLERK'
  '3300' ' - ' '121' '50']
 ['130' 'Mozhe' 'Atkinson' 'MATKINSO' '650.124.6234' '30-Oct-05'
  'ST_CLERK' '2800' ' - ' '121' '50']
 ['131' 'James' 'Marlow' 'JAMRLOW' '650.124.7234' '16-Feb-05' 'ST_CLERK'
  '2500' ' - ' '121' '50']
 ['132' 'TJ' 'Olson' 'TJOLSON' '650.124.8234' '10-Apr-07' 'ST_CLERK'
  '2100' ' - ' '121' '50']
 ['133' 'Jason' 'Mallin' 'JMALLIN' '650.127.1934' '14-Jun-04' 'ST_CLERK'
  '3300' ' - ' '122' '50']
 ['134' 'Michael' 'Rogers' 'MROGERS' '650.127.1834' '26-Aug-06'
  'ST_CLERK' '2900' ' - ' '122' '50']
 ['135' 'Ki' 'Gee' 'KGEE' '650.127.1734' '12-Dec-07' 'ST_CLERK' '2400'
  ' - ' '122' '50']
 ['136' 'Hazel' 'Philtanker' 'HPHILTAN' '650.127.1634' '6-Feb-08'
  'ST_CLERK' '2200' ' - ' '122' '50']
 ['137' 'Renske' 'Ladwig' 'RLADWIG' '650.121.1234' '14-Jul-03' 'ST_CLERK'
  '3600' ' - ' '123' '50']
 ['138' 'Stephen' 'Stiles' 'SSTILES' '650.121.2034' '26-Oct-05'
  'ST_CLERK' '3200' ' - ' '123' '50']
 ['139' 'John' 'Seo' 'JSEO' '650.121.2019' '12-Feb-06' 'ST_CLERK' '2700'
  ' - ' '123' '50']
 ['140' 'Joshua' 'Patel' 'JPATEL' '650.121.1834' '6-Apr-06' 'ST_CLERK'
  '2500' ' - ' '123' '50']]
<class 'numpy.ndarray'>
<U14

In [ ]:
l=(d1[1:,0])
print(l)

['198' '199' '200' '201' '202' '203' '204' '205' '206' '100' '101' '102'
 '103' '104' '105' '106' '107' '108' '109' '110' '111' '112' '113' '114'
 '115' '116' '117' '118' '119' '120' '121' '122' '123' '124' '125' '126'
 '127' '128' '129' '130' '131' '132' '133' '134' '135' '136' '137' '138'
 '139' '140']

In [ ]:
n=l.astype('int32')
print("The Total sum is =",np.sum(n))
print("The Maximum in the employee ID no. is =",np.max(n))

The Total sum is = 6738
The Maximum in the employee ID no. is = 206

In [ ]:
print("The Total Records are =",np.count_nonzero(l))

The Total Records are = 50

In [ ]:
o=(d1[1:,7])
print(o)

['2600' '2600' '4400' '13000' '6000' '6500' '10000' '12008' '8300' '24000'
 '17000' '17000' '9000' '6000' '4800' '4800' '4200' '12008' '9000' '8200'
 '7700' '7800' '6900' '11000' '3100' '2900' '2800' '2600' '2500' '8000'
 '8200' '7900' '6500' '5800' '3200' '2700' '2400' '2200' '3300' '2800'
 '2500' '2100' '3300' '2900' '2400' '2200' '3600' '3200' '2700' '2500']

In [ ]:
p=o.astype('int32') #CONVERSION
print("Maximum salary of the employee is =",np.max(p))

Maximum salary of the employee is = 24000

In [ ]:
x=p.argmax()
print(x)

9

In [ ]:
h=d1[p.argmax()+1,:]
print(h)

['100' 'Steven' 'King' 'SKING' '515.123.4567' '17-Jun-03' 'AD_PRES'
 '24000' ' - ' ' - ' '90']

In [ ]:
j=(d1[0:,6])
print(j)

['JOB_ID' 'SH_CLERK' 'SH_CLERK' 'AD_ASST' 'MK_MAN' 'MK_REP' 'HR_REP'
 'PR_REP' 'AC_MGR' 'AC_ACCOUNT' 'AD_PRES' 'AD_VP' 'AD_VP' 'IT_PROG'
 'IT_PROG' 'IT_PROG' 'IT_PROG' 'IT_PROG' 'FI_MGR' 'FI_ACCOUNT'
 'FI_ACCOUNT' 'FI_ACCOUNT' 'FI_ACCOUNT' 'FI_ACCOUNT' 'PU_MAN' 'PU_CLERK'
 'PU_CLERK' 'PU_CLERK' 'PU_CLERK' 'PU_CLERK' 'ST_MAN' 'ST_MAN' 'ST_MAN'
 'ST_MAN' 'ST_MAN' 'ST_CLERK' 'ST_CLERK' 'ST_CLERK' 'ST_CLERK' 'ST_CLERK'
 'ST_CLERK' 'ST_CLERK' 'ST_CLERK' 'ST_CLERK' 'ST_CLERK' 'ST_CLERK'
 'ST_CLERK' 'ST_CLERK' 'ST_CLERK' 'ST_CLERK' 'ST_CLERK']

In [ ]:
filterarray=(j=="ST_CLERK")
z=list(filterarray)
clerkdata=d1[z]
print(clerkdata)

[['125' 'Julia' 'Nayer' 'JNAYER' '650.124.1214' '16-Jul-05' 'ST_CLERK'
  '3200' ' - ' '120' '50']
 ['126' 'Irene' 'Mikkilineni' 'IMIKKILI' '650.124.1224' '28-Sep-06'
  'ST_CLERK' '2700' ' - ' '120' '50']
 ['127' 'James' 'Landry' 'JLANDRY' '650.124.1334' '14-Jan-07' 'ST_CLERK'
  '2400' ' - ' '120' '50']
 ['128' 'Steven' 'Markle' 'SMARKLE' '650.124.1434' '8-Mar-08' 'ST_CLERK'
  '2200' ' - ' '120' '50']
 ['129' 'Laura' 'Bissot' 'LBISSOT' '650.124.5234' '20-Aug-05' 'ST_CLERK'
  '3300' ' - ' '121' '50']
 ['130' 'Mozhe' 'Atkinson' 'MATKINSO' '650.124.6234' '30-Oct-05'
  'ST_CLERK' '2800' ' - ' '121' '50']
 ['131' 'James' 'Marlow' 'JAMRLOW' '650.124.7234' '16-Feb-05' 'ST_CLERK'
  '2500' ' - ' '121' '50']
 ['132' 'TJ' 'Olson' 'TJOLSON' '650.124.8234' '10-Apr-07' 'ST_CLERK'
  '2100' ' - ' '121' '50']
 ['133' 'Jason' 'Mallin' 'JMALLIN' '650.127.1934' '14-Jun-04' 'ST_CLERK'
  '3300' ' - ' '122' '50']
 ['134' 'Michael' 'Rogers' 'MROGERS' '650.127.1834' '26-Aug-06'
  'ST_CLERK' '2900' ' - ' '122' '50']
 ['135' 'Ki' 'Gee' 'KGEE' '650.127.1734' '12-Dec-07' 'ST_CLERK' '2400'
  ' - ' '122' '50']
 ['136' 'Hazel' 'Philtanker' 'HPHILTAN' '650.127.1634' '6-Feb-08'
  'ST_CLERK' '2200' ' - ' '122' '50']
 ['137' 'Renske' 'Ladwig' 'RLADWIG' '650.121.1234' '14-Jul-03' 'ST_CLERK'
  '3600' ' - ' '123' '50']
 ['138' 'Stephen' 'Stiles' 'SSTILES' '650.121.2034' '26-Oct-05'
  'ST_CLERK' '3200' ' - ' '123' '50']
 ['139' 'John' 'Seo' 'JSEO' '650.121.2019' '12-Feb-06' 'ST_CLERK' '2700'
  ' - ' '123' '50']
 ['140' 'Joshua' 'Patel' 'JPATEL' '650.121.1834' '6-Apr-06' 'ST_CLERK'
  '2500' ' - ' '123' '50']]

In [ ]:
w=(clerkdata[0:,7])
print(w)

['3200' '2700' '2400' '2200' '3300' '2800' '2500' '2100' '3300' '2900'
 '2400' '2200' '3600' '3200' '2700' '2500']

In [ ]:
q=w.astype('int32') #CONVERSION
print("Maximum salary of the ST_Clerk is =",np.max(q))
print("Sum of the salary is =",np.sum(q))

Maximum salary of the employee is = 3600
Sum of the salary is = 44000