<a href="https://colab.research.google.com/github/atharv1422/EDS.ass/blob/main/ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import csv
file=open('/content/Stud.csv - Sheet1.csv','r')
data1=list(csv.reader(file,delimiter=','))
file.close()
print(data1)

[['ROLL No.', 'PRN No.', 'FIRST NAME', 'LAST NAME'], ['471', '202201090141', 'AVDUTH ', 'TAD'], ['472', '202201090142', 'VEDANT', 'DEOKAR'], ['473', '202201090143', 'HARSHWARDHAN', 'WAYDANDE'], ['474', '202201090144', 'SHREYES', 'SURVE'], ['475', '202201090145', 'VINAY', 'WALKE'], ['476', '202201090146', 'NIRMAL', 'CHATURWEDI'], ['477', '202201090147', 'ATHARV', 'LATWADEKAR'], ['478', '202201090148', 'YASH', 'KHEWALKAR'], ['479', '202201090149', 'CHETAN', 'TALELE'], ['480', '202201090150', 'CHETAN', 'SAPKAL']]

In [ ]:
import csv
file=open('/content/Result - Sheet1.csv','r')
data2=list(csv.reader(file,delimiter=','))
file.close()
print(data2)

[['PRN No.', 'RESULT(CGPA)'], ['202201090141', '8.51'], ['202201090142', '7.25'], ['202201090143', '9.01'], ['202201090144', '7.24'], ['202201090145', '7.65'], ['202201090146', '6.85'], ['202201090147', '8.5'], ['202201090148', '6.89'], ['202201090149', '9.85'], ['202201090150', '9.65']]

In [ ]:
import csv
file=open('/content/Placement - Sheet1.csv','r')
data3=list(csv.reader(file,delimiter=','))
file.close()
print(data3)

[['PRN No.', 'COMPANY', 'PACKAGE'], ['202201090141', 'TATA STEELS', '150000'], ['202201090142', 'MICROSOFT ', '120000'], ['202201090143', 'GOOGLE', '110000'], ['202201090144', 'MAHINDRA', '80000'], ['202201090145', 'ZUDIO', '85000'], ['202201090146', 'SAMSUNG', '74000'], ['202201090147', 'AUDI', '100000'], ['202201090148', 'TESLA', '140000'], ['202201090149', 'DOMINOS', '15000'], ['202201090150', 'SWIGGY', '12000']]

In [ ]:
data1+data2+data3

[['ROLL No.', 'PRN No.', 'FIRST NAME', 'LAST NAME'],
 ['471', '202201090141', 'AVDUTH ', 'TAD'],
 ['472', '202201090142', 'VEDANT', 'DEOKAR'],
 ['473', '202201090143', 'HARSHWARDHAN', 'WAYDANDE'],
 ['474', '202201090144', 'SHREYES', 'SURVE'],
 ['475', '202201090145', 'VINAY', 'WALKE'],
 ['476', '202201090146', 'NIRMAL', 'CHATURWEDI'],
 ['477', '202201090147', 'ATHARV', 'LATWADEKAR'],
 ['478', '202201090148', 'YASH', 'KHEWALKAR'],
 ['479', '202201090149', 'CHETAN', 'TALELE'],
 ['480', '202201090150', 'CHETAN', 'SAPKAL'],
 ['PRN No.', 'RESULT(CGPA)'],
 ['202201090141', '8.51'],
 ['202201090142', '7.25'],
 ['202201090143', '9.01'],
 ['202201090144', '7.24'],
 ['202201090145', '7.65'],
 ['202201090146', '6.85'],
 ['202201090147', '8.5'],
 ['202201090148', '6.89'],
 ['202201090149', '9.85'],
 ['202201090150', '9.65'],
 ['PRN No.', 'COMPANY', 'PACKAGE'],
 ['202201090141', 'TATA STEELS', '150000'],
 ['202201090142', 'MICROSOFT ', '120000'],
 ['202201090143', 'GOOGLE', '110000'],
 ['202201090144', 'MAHINDRA', '80000'],
 ['202201090145', 'ZUDIO', '85000'],
 ['202201090146', 'SAMSUNG', '74000'],
 ['202201090147', 'AUDI', '100000'],
 ['202201090148', 'TESLA', '140000'],
 ['202201090149', 'DOMINOS', '15000'],
 ['202201090150', 'SWIGGY', '12000']]

In [ ]:
mylist=[]
for i in range(10):
  mylist.append(data1[i]+data2[i])
print(mylist)

[['ROLL No.', 'PRN No.', 'FIRST NAME', 'LAST NAME', 'PRN No.', 'RESULT(CGPA)'], ['471', '202201090141', 'AVDUTH ', 'TAD', '202201090141', '8.51'], ['472', '202201090142', 'VEDANT', 'DEOKAR', '202201090142', '7.25'], ['473', '202201090143', 'HARSHWARDHAN', 'WAYDANDE', '202201090143', '9.01'], ['474', '202201090144', 'SHREYES', 'SURVE', '202201090144', '7.24'], ['475', '202201090145', 'VINAY', 'WALKE', '202201090145', '7.65'], ['476', '202201090146', 'NIRMAL', 'CHATURWEDI', '202201090146', '6.85'], ['477', '202201090147', 'ATHARV', 'LATWADEKAR', '202201090147', '8.5'], ['478', '202201090148', 'YASH', 'KHEWALKAR', '202201090148', '6.89'], ['479', '202201090149', 'CHETAN', 'TALELE', '202201090149', '9.85']]

In [ ]:
mylist2=[]
for i in range(10):
  mylist2.append(mylist[i]+data3[i])
print(mylist2)

[['ROLL No.', 'PRN No.', 'FIRST NAME', 'LAST NAME', 'PRN No.', 'RESULT(CGPA)', 'PRN No.', 'COMPANY', 'PACKAGE'], ['471', '202201090141', 'AVDUTH ', 'TAD', '202201090141', '8.51', '202201090141', 'TATA STEELS', '150000'], ['472', '202201090142', 'VEDANT', 'DEOKAR', '202201090142', '7.25', '202201090142', 'MICROSOFT ', '120000'], ['473', '202201090143', 'HARSHWARDHAN', 'WAYDANDE', '202201090143', '9.01', '202201090143', 'GOOGLE', '110000'], ['474', '202201090144', 'SHREYES', 'SURVE', '202201090144', '7.24', '202201090144', 'MAHINDRA', '80000'], ['475', '202201090145', 'VINAY', 'WALKE', '202201090145', '7.65', '202201090145', 'ZUDIO', '85000'], ['476', '202201090146', 'NIRMAL', 'CHATURWEDI', '202201090146', '6.85', '202201090146', 'SAMSUNG', '74000'], ['477', '202201090147', 'ATHARV', 'LATWADEKAR', '202201090147', '8.5', '202201090147', 'AUDI', '100000'], ['478', '202201090148', 'YASH', 'KHEWALKAR', '202201090148', '6.89', '202201090148', 'TESLA', '140000'], ['479', '202201090149', 'CHETAN', 'TALELE', '202201090149', '9.85', '202201090149', 'DOMINOS', '15000']]

In [ ]:
mylist2

[['ROLL No.',
  'PRN No.',
  'FIRST NAME',
  'LAST NAME',
  'PRN No.',
  'RESULT(CGPA)',
  'PRN No.',
  'COMPANY',
  'PACKAGE'],
 ['471',
  '202201090141',
  'AVDUTH ',
  'TAD',
  '202201090141',
  '8.51',
  '202201090141',
  'TATA STEELS',
  '150000'],
 ['472',
  '202201090142',
  'VEDANT',
  'DEOKAR',
  '202201090142',
  '7.25',
  '202201090142',
  'MICROSOFT ',
  '120000'],
 ['473',
  '202201090143',
  'HARSHWARDHAN',
  'WAYDANDE',
  '202201090143',
  '9.01',
  '202201090143',
  'GOOGLE',
  '110000'],
 ['474',
  '202201090144',
  'SHREYES',
  'SURVE',
  '202201090144',
  '7.24',
  '202201090144',
  'MAHINDRA',
  '80000'],
 ['475',
  '202201090145',
  'VINAY',
  'WALKE',
  '202201090145',
  '7.65',
  '202201090145',
  'ZUDIO',
  '85000'],
 ['476',
  '202201090146',
  'NIRMAL',
  'CHATURWEDI',
  '202201090146',
  '6.85',
  '202201090146',
  'SAMSUNG',
  '74000'],
 ['477',
  '202201090147',
  'ATHARV',
  'LATWADEKAR',
  '202201090147',
  '8.5',
  '202201090147',
  'AUDI',
  '100000'],
 ['478',
  '202201090148',
  'YASH',
  'KHEWALKAR',
  '202201090148',
  '6.89',
  '202201090148',
  'TESLA',
  '140000'],
 ['479',
  '202201090149',
  'CHETAN',
  'TALELE',
  '202201090149',
  '9.85',
  '202201090149',
  'DOMINOS',
  '15000']]

In [ ]:
print(len(mylist2))

10

In [ ]:
mylist2.pop(0)

['ROLL No.',
 'PRN No.',
 'FIRST NAME',
 'LAST NAME',
 'PRN No.',
 'RESULT(CGPA)',
 'PRN No.',
 'COMPANY',
 'PACKAGE']

In [ ]:
package=[]
for i in range(len(mylist2)):
  package.append(int(mylist2[i][8]))
print(sum(package))
print('The sum of all the Packages is=',sum(package))

874000
The sum of all the Packages is= 874000

In [ ]:
print(max(package))
print('The maximum package is=',max(package))

150000
The maximum package is= 150000

In [ ]:
print(min(package))
print('The minimum package is=',min(package))

15000
The minimum package is= 15000

In [ ]:
m=sum(package)/len(package)
avg=round(m,10)
print(avg)
print('The Average Package is=',avg)

97111.1111111111
The Average Package is= 97111.1111111111